body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: 0;
    background: #fefe2e;
}

h1 {
    font-size: 3rem;
    margin-top: 2rem;
}

.dice {
    color: red;
    text-shadow: 0px 0px 10px rgb(0, 255, 251);
    font-size: 7rem;
    margin: 5px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.roll-animation {
    animation-name: roll;
}

@keyframes roll {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }
  
    100% {
      transform: rotateY(360deg) rotateX(720deg);
    }
}
  
button {
    background-color: #47a5c4;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s;
}
  
button:hover {
    background-color: #e5277c;
    box-shadow: 0px 0px 10px #ff0000;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 2rem auto;
}
  
li {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: red;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
li span {
    font-size: 3rem;
    margin-right: 1rem;
}