body {
    margin: 0;
    background-color: #000;
} 
div {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow:0 0 60px 30px #fff, 0 0 100px 60px #ff003c, 0 0 140px 90px #0ff;
}




